[db]
host = "localhost"
user = "root"
password = ""
database = "spit"

[site]
defaultTitle = "SPIT"
defaultDescription = "Simple PHP Issue Tracker"
singleProject = "spit"
dateTimeFormat = "j M Y H:i"
