[db]
host = "localhost"
user = "root"
password = ""
database = "spit"

[site]
defaultTitle = "SPIT"
defaultDescription = "Simple PHP Issue Tracker"
singleProject = "spit"
dateFormat = "j M Y"
dateTimeFormat = "j M Y H:i"

[fields]
projects = "spit=1"

[session]
lifetime = 2592000
